.home-page {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 1em;
  /* height: 100vh; */
}

.home-page img {
  width: 400px;
}

.greeting {
  margin-top: 2em;
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  align-items: center;
  gap: 0.7em;
}

.greeting h3 {
  font-size: 4rem;
}

.greeting p {
  color: var(--gray);
  font-size: 1.2rem;
}

.greeting a {
  border-radius: 1em;
  text-decoration: none;
  width: 50%;
  color: white;
  background-color: var(--pink);
  font-size: 1.8rem;
  transform: 0.4s ease-in-out;
}

.greeting a:hover {
  background-color: var(--green);
}

@media screen and (max-width: 750px) {
  
  .home-page{
    align-items: center;
  }
  .home-page img{
    width: 300px;
  }

  .greeting h3{
    font-size: 3rem
  }

  .greeting p{
    font-size: 1rem;
  }
}