.data-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 1em 0em;
  gap: 1em;
  /* background-color: red; */
  /* position: relative; */
  /* padding: 0em 4em; */
}

h1 {
  text-align: center;
  font-size: 2rem;
}

.profile {
  /* height: 400px; */
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  gap: 0.8em;
  /* background-color: red; */
  /* border: red outset 1em; */
  /* border-radius: .3em; */
  /* justify-content: space-around; */
  /* gap: 1em; */
}

.bio {
  display: flex;
  /* flex-flow: column wrap; */
  align-items: center;
  background-color: rgb(123, 128, 128);
  border-radius: 0.3em;
  flex: 1;

  /* border: rgb(219, 9, 9) 1em solid; */
  transition: 0.4s;
}

.bio img{
  max-width: 100%;
  height: auto;
}

.bio:hover {
  background-color: rgb(28, 33, 36);
}

.about {
  height: 100%;
  flex: 1;
  gap: 1.8em;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 0.5em;
}

.about h3 {
  font-size: 1.8rem;
}

.types {
  /* color: white; */
  color: black;
  /* background-color: black; */
}
.types li {
  list-style: none;
  background-color: rgb(207, 198, 198);
  border-radius: 0.3em;
  margin-bottom: 0.3em;
}

.details {
  background-color: rgb(1, 113, 165);
  padding: 1em;
  color: white;
  border-radius: 0.3em;
}

.abilities-container {
  display: block;
  background-color: rgb(41, 28, 219);
  border: rgb(219, 9, 9) 1em solid;
  border-radius: 1em;
  list-style: none;
  /* width: 40%; */
  height: 30%;
  flex: 1;
  text-align: center;
  color: white;
}

.abilities {
  /* text-align: center; */
  font-size: 1.3rem;
}

.abilities li {
  list-style: none;
  font-size: 1.2rem;
  /* padding: 1em; */
  text-align: center;
  background-color: lightgreen;
  border-radius: 0.3em;
  margin-bottom: 0.3em;
}

@media screen and (max-width: 600px) {
  .profile{
    display: block;

  }

  .bio{
    margin-bottom: 1em;
  }
}