.data-container {
  /* display: flex; */
  flex-flow: column wrap;
  align-items: center;
  padding: 1em 10em;
  gap: 1em;
  /* background-color: rgb(255, 0, 0); */
}

h1 {
  text-align: center;
  font-size: 2rem;
  border: 12px outset red;
  background-color: rgb(24, 22, 29);
  /* background-color: rgb(11, 113, 113); */
  color: white;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  /* color: white; */
}

.profile {
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  gap: 0.8em;
  border: 12px outset red;
  /* background-color: darkslategray; */
  background-color: rgb(24, 22, 29);
}

.bio {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 176, 229);
  border-radius: 0.3em;
  flex: 1 1;
  transition: 0.4s;
}

.bio img {
  max-width: 100%;
  height: auto;
}

.bio:hover {
  background-color: rgb(12, 239, 205);
}

.about {
  height: 100%;
  flex: 1;
  gap: 1.8em;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 0.5em;
}

.about h3 {
  font-size: 1.8rem;
  color: white;
}

.types {
  color: black;
}
.types li {
  list-style: none;
  background-color: rgb(207, 198, 198);
  border-radius: 0.3em;
  margin-bottom: 0.3em;
}

.details {
  background-color: rgb(1, 113, 165);
  padding: 1em;
  color: white;
  border-radius: 0.3em;
}

.abilities-container {
  display: block;
  background-color: rgb(41, 28, 219);
  border: rgb(219, 9, 9) 1em solid;
  border-radius: 1em;
  list-style: none;
  /* width: 40%; */
  height: 30%;
  flex: 1;
  text-align: center;
  color: white;
}

.abilities {
  font-size: 1.3rem;
}

.abilities li {
  list-style: none;
  font-size: 1.2rem;
  text-align: center;
  background-color: lightgreen;
  border-radius: 0.3em;
  margin-bottom: 0.3em;
}

.stats {
  padding: 1em;
  color: white;
  background-color: rgb(24, 22, 29);
  margin: 0 1em;
  border: 12px outset red;
}

.stats h3 {
  font-size: 1.8rem;
  text-align: center;
}

.stat-item {
  display: flex;
  list-style: none;
  gap: 0.3em;
  align-items: center;
}

.stat-item h4:first-child {
  padding: 0 2px;
  border-right: 1px solid white;
}

@media screen and (max-width: 660px) {
  h1 {
    font-size: 1.5rem;
  }
  .profile {
    display: block;
  }

  .bio {
    margin-bottom: 1em;
  }

  .data-container {
    padding: 1em 1.5em;
    font-size: 0.9rem;
  }
}
